ng-select { 
      width: auto !important;
       max-width: 350px;     
    } 

    table {
      width: 100%;
      background-color: cyan;    
  }
  
  .form-search {
      width: 70%;
      background-color: cyan;
      margin: 20px;
  }
  
  .form-row {
      margin-top: 20px;
      background-color: cyan;
  }
  
  .table-row {
      margin-top: 20px; 
      background-color: chartreuse;
  }
  
  h2.headertext {
      text-align: center;
      background-color: cyan;
      margin: 20px;
    }